@page
@model BuildingRecordsApp.Pages.Owners.IndexModel
@{
    ViewData["Title"] = "Owners";
}
<h1>Owner Index</h1>
<p>
    <a asp-page="./Create" class="btn btn-primary">Create New Owner</a>
</p>

@* 
Owner has following fields:
int OwnerId 
Person Person // Navigation property for the person
int PersonId // Foreign key for Person
Ownership Ownership // Navigation property for ownership
int OwnershipId // Foreign key for Ownership
 *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Owners[0].Ownership!.Unit!.Building!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owners[0].Ownership!.Unit!.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owners[0].Person!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owners[0].Person!.Surname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Owners)
        {
            <tr>
                <td>@item.Ownership!.Unit!.Building!.Name</td>
                <td>@item.Ownership!.Unit!.UnitNumber</td>
                <td>@item.Person!.Name</td>
                <td>@item.Person!.Surname</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.OwnerId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.OwnerId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.OwnerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>