@page
@model BuildingRecordsApp.Pages.CompanyTrusts.IndexModel
@{
    ViewData["Title"] = "Companies/Trusts";
}

<h1>Company/Trust Index</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New Company Trust</a>
</p>

@* 
CompanyTrust has the following properties:
int CompanyTrustId
string Name
string Address
string RegistrationNumber
ICollection<Ownership> Ownerships
 *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyTrusts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyTrusts[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyTrusts[0].RegistrationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CompanyTrusts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CompanyTrustId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CompanyTrustId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CompanyTrustId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>