@page
@model BuildingRecordsApp.Pages.StoreRooms.IndexModel
@{
    ViewData["Title"] = "Store Rooms";
}

<h1>Store Room Index</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New Store Room</a>
</p>

@* 
StoreRoom has following fields:
int StoreRoomId
string StoreRoomNumber
Unit Unit // Navigation property
int UnitId // Foreign key property
 *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreRooms[0].Unit!.Building!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreRooms[0].Unit!.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreRooms[0].StoreRoomNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StoreRooms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit!.Building!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit!.UnitNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreRoomNumber)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.StoreRoomId" class="btn btn-sm btn-primary me-1">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.StoreRoomId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>