@page
@model BuildingRecordsApp.Pages.ParkingBays.IndexModel
@{
    ViewData["Title"] = "Parking Bays";
}

<h1>Parking Bays</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New Parking Bay</a>
</p>

@* 
ParkingBay has following fields:
int ParkingBayID
int ParkingBayNumber
int UnitID // Foreign key
Unit Unit // Navigation property
 *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkingBays[0].ParkingBayID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingBays[0].ParkingBayNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingBays[0].Unit!.UnitNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParkingBays)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingBayID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingBayNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit!.UnitNumber)
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.ParkingBayID">Edit</a> |
                    <a asp-page="Details" asp-route-id="@item.ParkingBayID">Details</a> |
                    <a asp-page="Delete" asp-route-id="@item.ParkingBayID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>