@page
@model BuildingRecordsApp.Pages.Ownerships.IndexModel
@{
    ViewData["Title"] = "Ownerships";
}

<h1>Ownership Index</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New Ownership</a>
</p>

@* 
Ownership has following fields:
int OwnershipId
string OwnershipType // e.g., "Natural", "Juristic"
string UnitId // Foreign key for Unit
Unit Unit // Navigation property for Unit
 *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ownerships[0].Unit!.Building!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ownerships[0].Unit!.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ownerships[0].OwnershipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ownerships[0].CompanyTrust)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ownerships)
        {
            <tr>
                <td>@item.Unit!.Building!.Name</td>
                <td>@item.Unit!.UnitNumber</td>
                <td>@item.OwnershipType</td>
                <td>
                    @if (item.CompanyTrust != null)
                    {
                        @item.CompanyTrust.Name
                    }
                    else
                    {
                        <span>No Company/Trust</span>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.OwnershipId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.OwnershipId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.OwnershipId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>