@page
@model BuildingRecordsApp.Pages.Occupancies.IndexModel
@{
    ViewData["Title"] = "Occupancies";
}

<h1>Occupancy Index</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New Occupancy</a>
</p>

@* 
Occupancy has the following properties:
int OccupancyId
string OccupationType
int UnitNumber // Foreign key for Unit
Unit Unit // Navigation property for the unit
int OccupantId // Foreign key for Person
Person Occupant // Navigation property for occupants
 *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Occupancies[0].Occupant!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupancies[0].Occupant!.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupancies[0].Unit!.Building!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupancies[0].Unit!.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupancies[0].OccupationType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Occupancies)
        {
            <tr>
                <td>@item.Occupant!.Name</td>
                <td>@item.Occupant!.Surname</td>
                <td>@item.Unit!.Building!.Name</td>
                <td>@item.Unit!.UnitNumber</td>
                <td>@item.OccupationType</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.OccupantId" class="btn btn-sm btn-primary me-1">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.OccupantId" class="btn btn-sm btn-info text-white me-1">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.OccupantId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>